.sideBar {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: calc(100vh - 1rem);
    margin: auto 0;
    margin-left: .5rem;
    box-shadow: 0 5px 10px -2.5px rgba(0, 0, 0, .25);
    background-color: white;
    border-radius: 1rem;
    transition: width .25s ease-out;
}

.sideBar .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.sideBar .title .left {
    display: flex;
    align-items: center;
    font-family: var(--font-title);
    gap: var(--gap-small);
    margin-left: 1rem;
}

.sideBar .title .left .webIcon {
    width: 2rem;
    height: 2rem;
}

.sideBar .title .left>h2 {
    font-size: var(--smaller);
    font-family: var(--font-title);
    color: var(--l-mid);
}

.sideBar .title .collapse {
    color: var(--l-bold);
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    margin-right: 1rem;
    padding: var(--pad-y-l) var(--pad-x-m);
    border-radius: 1rem;
    transform: rotateY(180deg);
}

.sideBar .title .collapse:hover {
    background-color: var(--l-light);
}

/* SECTIONS TABS */

.sideBar .sections {
    width: 100%;
    overflow-y: visible;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--l-light);
    }
}

.sideBar .sections .sectionTabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--gap-small);
}


.sideBar .sections .sectionTabs .section {
    font-family: var(--font-title);
    color: var(--l-light);
    font-size: var(--p-smaller);
    margin-left: 1rem;
    margin-top: .5rem;
}

.sideBar .sections .sectionTabs .menu {
    display: flex;
    flex-direction: column;
    width: calc(100% - 2rem);
    margin: auto;
    gap: 4px;
}

.sideBar .sections .sectionTabs .menu .tab {
    font-family: var(--font-title);
    font-size: var(--p-small);
    font-weight: 600;
    gap: var(--gap-small);
    padding: var(--pad-y-m) var(--pad-x-m);
    border-radius: .5rem;
    background-color: transparent;
    text-wrap: nowrap;
    overflow-x: hidden;
}

.sideBar .sections .sectionTabs .menu .tab:hover {
    background-color: var(--l-light);
}

.sideBar .sections .sectionTabs .menu .tab.focused {
    background-color: var(--secondary-color);
    color: white;
}

.sideBar .sections .sectionTabs .menu .tab.focused:hover {
    background-color: var(--secondary-color);
    color: white;
}

/* BOTTOM */

.sideBar .bottom {
    margin-top: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: var(--gap-normal);
    padding: 1rem 0;
}

.sideBar .colorTheme {
    display: flex;
    background-color: var(--l-very-light);
    gap: var(--gap-small);
    padding: var(--pad-y-s) 0;
    width: calc(100% - 1rem);
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px -2.5px rgba(0, 0, 0, .25);
    border-radius: .5rem;
}

.sideBar .colorTheme .themeButton {
    gap: var(--gap-small);
    width: calc(50% - (1rem));
    font-size: var(--p-smaller);
    padding: var(--pad-y-m) var(--pad-x-s);
    text-wrap: nowrap;
    font-family: var(--font-title);
    font-weight: 700;
    border-radius: .5rem;
    background-color: transparent;
}

.sideBar .colorTheme .themeButton.focused {
    background-color: white;
    box-shadow: 0 5px 10px -2.5px rgba(0, 0, 0, .25);
}

/* USER BOX */

.sideBar .bottom .userBox {
    display: flex;
    background-color: var(--l-very-light);
    width: calc(100% - 2rem);
    border-radius: .5rem;
    padding: .5rem;
    gap: var(--gap-small);
    font-family: var(--font-title);
}

.sideBar .bottom .userBox .userIcon {
    width: 40px;
    height: 40px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    display: grid;
    place-items: center;
    flex-shrink: 0;
}

.sideBar .bottom .userBox .userIcon .firstLetter {
    font-family: var(--font-title);
    font-weight: 900;
    font-size: var(--p-large);
    color: white;
}

.sideBar .bottom .userBox .contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sideBar .bottom .userBox .contents .userName {
    font-weight: 700;
    font-size: var(--p-normal);
    text-wrap: nowrap;
}

.sideBar .bottom .userBox .contents .logOut {
    font-weight: 600;
    color: var(--secondary-color);
    background-color: transparent;
    width: fit-content;
    font-size: var(--p-smaller);
}

/* DARK THEME */

.darkSideBar {
    background-color: var(--d-bg);
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.495);
}

.darkSideBar .title .left>h2,
.darkSideBar .title .collapse {
    color: white;
}

.darkSideBar .sections .sectionTabs .section {
    color: white;
}

.darkSideBar .sections .sectionTabs .menu .tab {
    color: var(--l-light);
}

.darkSideBar .sections .sectionTabs .menu .tab:hover {
    background-color: var(--l-mid);
}

.darkSideBar .sections .sectionTabs .menu .focused {
    color: white;
}

.darkSideBar .sections .sectionTabs .menu .focused:hover {
    background-color: var(--secondary-color);
    color: white;
}

.darkSideBar .colorTheme {
    background-color: var(--d-bg);
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, .5);
}

.darkSideBar .colorTheme .themeButton {
    color: white;
}

.darkSideBar .colorTheme .themeButton.focused:nth-child(2) {
    color: var(--d-text-unhighlight);
    background-color: white;
    box-shadow: 0 5px 10px -2.5px rgba(255, 255, 255, 0.662);
}

.darkSideBar .bottom .userBox {
    background-color: var(--d-bg);
}

.darkSideBar .bottom .userBox .contents {
    color: white;
}

/* COLLAPSE SIDEBAR */


.collapseSideBar {
    width: 70px;
}

.collapseSideBar .title {
    padding: 0;
    padding: 1rem 0;
}

.collapseSideBar .title .left {
    display: none;
}

.collapseSideBar .title .collapse {
    transform: rotate(0deg);
}

.collapseSideBar .title .collapse {
    margin-right: 0;
    margin: auto;
}

.collapseSideBar .sections .sectionTabs:nth-child(1) .section {
    display: none;
}

.collapseSideBar .sections .sectionTabs .section {
    color: transparent;
    height: 2px;
    width: 80%;
    background-color: var(--l-light);
    margin: .5rem auto;
}

.collapseSideBar .sections .sectionTabs .menu {
    gap: .5rem;
}

.collapseSideBar .sections .sectionTabs .menu .tab {
    align-items: center;
    justify-content: center;
}

.collapseSideBar .sections .sectionTabs .menu .tab>span {
    display: none;
}

.collapseSideBar .bottom .colorTheme {
    flex-direction: column;
}

.collapseSideBar .bottom .colorTheme .themeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: calc(100% - .5rem);
    height: 40px;
    font-size: var(--p-small);
}

.collapseSideBar .bottom .colorTheme .themeButton>span {
    display: none;
}

.collapseSideBar .bottom .colorTheme .themeButton:hover>span {
    display: flex;
    position: absolute;
    left: 120%;
    top: 50%;
    translate: 0 -50%;
    width: fit-content;
    z-index: 5;
    font-size: var(--p-smaller);
    background-color: var(--l-mid);
    padding: var(--pad-y-s) var(--pad-x-s);
    border-radius: .5rem;
}

.collapseSideBar .bottom .userBox .contents {
    display: none;
}

/* DARK THEME */

.sideBar.darkSideBar {
    background-color: var(--d-bg);
}

@media (max-width: 900px) {

    .collapseSideBar {
        width: 55px;
    }

    .collapseSideBar .sections .sectionTabs .menu {
        width: calc(100% - .75rem);
    }

    .collapseSideBar .bottom .colorTheme .themeButton {
        height: 30px;
        justify-content: center;
    }

    .collapseSideBar .bottom .userBox {
        display: flex;
        justify-content: center;
    }
.collapseSideBar .bottom .userBox .contents .userName {
    font-size: var(--p-smaller);
}

.collapseSideBar .bottom .userBox .userIcon {
    width: 30px;
    height: 30px;
    scale: .8;
}
}

/* @media (max-width: 500px) {
    .sideBar {
        width: 200px;
    }

    .sideBar .bottom .colorTheme .themeButton {
        font-size: .5rem;
    }

    .sideBar .bottom .userBox .contents .userName {
        font-size: var(--p-small);
    }

    .sideBar .bottom .userBox .userIcon {
        width: 25px;
        height: 25px;
    }

    .sideBar .bottom .userBox .userIcon .firstLetter {
        font-size: var(--p-normal);
    }
} */

@media (max-width: 500px) {
    .sideBar {
        width: 200px;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        border-radius: 0;
        margin-left: 0;
        transition: all .5s ease;
        z-index: 5;
    }

    .sideBar .bottom .colorTheme .themeButton {
        font-size: .5rem;
    }

    .collapseSideBar {
        width: 200px;
        left: -200px;
    }

    .collapseSideBar .title .collapse {
        position: absolute;
        left: 110%;
        bottom: 10%;
        border-radius: .2rem;
        color: black;
        background-color: white;
        box-shadow: 0 0px 10px -.5px rgba(0, 0, 0, 0.244);
    }

    .collapseSideBar .title .left {
        display: flex;
    }

    .collapseSideBar .sections .sectionTabs .section {
        color: var(--l-light);
        height: fit-content;
        background: none;
        margin-left: 1rem;
        margin-top: .5rem;
        display: block;
    }

    .collapseSideBar .sections .sectionTabs:nth-child(1) .section {
        display: block;
    }

    .collapseSideBar .sections .sectionTabs .menu {
        width: calc(100% - 2rem);
        gap: 4px;
    }

    .collapseSideBar .sections .sectionTabs .menu .tab {
        justify-content: left;
    }

    .collapseSideBar .sections .sectionTabs .menu .tab>span {
        display: flex;
    }

    .collapseSideBar .bottom .colorTheme {
        flex-direction: row;
    }

    .collapseSideBar .bottom .colorTheme .themeButton {
        width: calc(50% - (1rem));
    }

    .collapseSideBar .bottom .colorTheme .themeButton>span {
        display: flex;
    }

    .collapseSideBar .bottom .userBox .contents {
        display: flex;
    }

    .sideBar .bottom .userBox .contents .userName {
        font-size: var(--p-small);
    }

}