.taskGroup {
    height: fit-content;
    width: 100%;
    transform: translateY(50px);
    opacity: 0;
    animation: pop-up .4s .4s ease forwards;
}

@keyframes pop-up {
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.taskGroup .top {
    display: flex;
    align-items: center;
    position: relative;
    transition: all .2s ease;
    cursor: pointer;
}

.taskGroup .top:hover {
    background-color: var(--l-very-light);
}

.taskGroup .top .groupName {
    font-family: var(--font-title);
    font-size: var(--h1-medium);
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: var(--pad-y-m) var(--pad-x-s);
    user-select: none;
}

.taskGroup .top .groupName .hide {
    display: none;
}

.taskGroup .top {
    display: flex;
    align-items: center;
}

.taskGroup .top .actionButton {
    padding: var(--pad-y-s) var(--pad-x-s);
    border-radius: 50%;
    background-color: transparent;
    position: relative;
    z-index: 0;
}

.taskGroup .top .actionButton:hover {
    background-color: var(--l-light);
    ;
}

.taskGroup .top .actionButton:active {
    background-color: var(--l-mid);
}

.taskGroup .tasks {
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
}

.taskGroup .hideTasks {
    display: none;
    opacity: 0;
}

@media (max-height: 300px) {
    .taskGroup {
        flex: auto;
        height: 400px;
    }
}