.taskContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 2px 10px -2.5px rgba(0, 0, 0, 0.244);
    border-radius: 1rem;
}

.taskContainer .groups {
    display: flex;
    flex-direction: column;
    width: calc(100% - 4rem);
    height: 100%;
    flex: 1;
    overflow-y: auto;
    margin: auto;
    margin-bottom: 1rem;
    gap: var(--gap-normal);
}

.taskContainer .groups>h1 {
    color: var(--l-light);
    font-family: var(--font-title);
}

.taskContainer .groups .skeletonGroup {
    height: fit-content;
    width: 100%;
    padding: var(--pad-x-m) 0;
    background-color: var(--l-very-light);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    opacity: .5;
}

@media (max-width: 500px) {
    .taskContainer {
        width: calc(100% - 1rem);
        max-width: 500px;
        min-width: 250px;
        flex-shrink: 0;
        margin: 0 auto;
    }
    .taskContainer .groups {
        width: calc(100% - 2rem);
        height: 100%;
        flex: 1;
        overflow-y: auto;
        margin: auto;
        margin-bottom: 1rem;
        gap: var(--gap-normal);
    }
}