.skeletonTask {
    background-color: var(--l-light);
    border-radius: 1rem;
    margin: auto;
}


/* Group container */

.skeletonGroup {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


/* Skeleton item */

.skeletonTask {
    width: 90%;
    height: 50px;
    border-radius: 8px;
    background: linear-gradient( 90deg, #e0e0e0 25%, #f5f5f5 37%, #e0e0e0 63%);
    background-size: 400% 100%;
    animation: skeleton-loading 1.4s ease infinite;
}


/* Animation */

@keyframes skeleton-loading {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}