.assistant {
    width: calc(300px - .5rem);
    height: fit-content;
    height: calc(100% - 1rem);
    background-color: white;
    margin: auto;
    margin-right: .5rem;
    border-radius: 1rem;
    box-shadow: 0 2px 10px -2.5px rgba(0, 0, 0, 0.253);
    font-family: var(--font-title);
}

.assistant .top {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1.5rem auto;
}

.assistant .top>h1 {
    display: flex;
    align-items: center;
    gap: var(--gap-small);
    font-size: var(--h1-smaller);
}

.assistant .top>h1>img {
    margin-right: auto;
    width: 35px;
    height: auto;
}

.assistant .top>h1 .close {
    background-color: transparent;
    color: black;
    font-size: var(--h1-smaller);
}

.assistant .top>p {
    font-size: var(--p-smaller);
    color: var(--l-mid);
}