.aiAssistant {
    width: 100%;
    height: calc(100% - 1rem);
    background-color: transparent;
    margin: auto;
    border-radius: 1rem;
    box-shadow: 0 2px 10px -2.5px rgba(0, 0, 0, 0.253);
    font-family: var(--font-title);
    display: flex;
    flex-direction: column;
    flex: auto 1fr;
}

.aiAssistant.aside {
    max-width: calc(600px - .5rem);
    min-width: calc(300px - .5rem);
    margin-right: .5rem;
    position: relative;
}

.aiAssistant.hide {
    display: none;
}

.aiAssistant.hide .resizer {
    display: none;
}

.aiAssistant.aside .resizer {
    width: 10px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: .3s ease;
}

.aiAssistant.aside .resizer:hover {
    background-color: rgba(0, 0, 0, 0.442);
}

.aiAssistant .top {
    display: flex;
    flex-direction: column;
    width: calc(100% - 3rem);
    margin: .75rem auto;
    margin-bottom: 0;
}

.aiAssistant .top>h1 {
    display: flex;
    align-items: center;
    gap: var(--gap-small);
    font-size: var(--h1-small);
}

.aiAssistant .top>h1>img {
    margin-right: auto;
    width: 25px;
    height: auto;
}

.aiAssistant .top>h1 .close {
    background-color: transparent;
    color: black;
    font-size: var(--h1-small);
}

.aiAssistant .top>p {
    font-size: var(--p-smaller);
    color: var(--l-mid);
}