.assistant {
    width: 100%;
    height: fit-content;
    height: calc(100% - 1rem);
    background-color: white;
    margin: auto;
    margin-right: .5rem;
    border-radius: 1rem;
    box-shadow: 0 2px 10px -2.5px rgba(0, 0, 0, 0.253);
}