.activitiesLanding {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    min-height: fit-content;
    padding-bottom: 2rem;
}

.activitiesLanding .container {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.greetings {
    font-family: var(--font-title);
    margin: 3rem 0;
}

.greetings>h1 {
    color: var(--secondary-color);
    font-size: var(--h1-larger);
}

.greetings>h3 {
    color: var(--l-mid);
    font-size: var(--h1-smaller);
}

.bottom {
    display: flex;
    width: 100%;
    gap: calc(var(--gap-large) * 2);
}

/* DARK MODE */

.activitiesLanding.dark {
    background-color: var(--d-bg-light);
}

@media (max-width: 700px) {
    .bottom {
        flex-direction: column;
    }
}