.inputSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--pad-y-m);
    animation: fade-in .5s ease-in forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.inputSection>label {
    width: calc(95% - (var(--pad-x-s) * 2));
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .5);
    padding: calc(var(--pad-y-m)) var(--pad-x-m);
    background-color: white;
    border-radius: .5rem;
    position: relative;
}

.inputSection>label .attachmentTask {
    width: calc(100% - (var(--pad-x-s) * 2));
    padding: var(--pad-x-s) var(--pad-x-s);
    padding-bottom: calc(var(--pad-x-s) + 10px);
    background-color: var(--l-very-light);
    position: absolute;
    bottom: 80%;
    left: 0;
    display: flex;
    align-items: center;
    z-index: -1;
    gap: var(--gap-small);
}

.inputSection>label .attachmentTask .contents {
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    &::-webkit-scrollbar {
        width: 5px;
        height: 100%;
        background-color: var(--l-very-light);
    }
}

.inputSection>label .attachmentTask .contents>h4 {
    font-size: var(--p-small);
}

.inputSection>label .attachmentTask .contents>p {
    font-size: var(--p-smaller);
}

.inputSection>label .attachmentTask>i {
    background-color: var(--l-light);
    font-size: var(--h1-smaller);
    padding: var(--pad-x-s) calc(var(--pad-x-s) + 5px);
}

.inputSection>label .attachmentTask>i,
.inputSection>label .attachmentTask .close {
    border-radius: 1rem;
    background-color: var(--l-light);
}

.inputSection>label .attachmentTask .close {
    padding: calc(var(--pad-x-s) - 5px) calc(var(--pad-x-s) - 5px);
}

.inputSection>label .inputContainer {
    width: 100%;
    max-height: 70px;
    margin-right: .5rem;
    border: none;
    outline: none;
    font-family: var(--font-title);
    font-size: var(--p-small);
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    cursor: text;
}

.inputSection>label .inputContainer.placeholder::before {
    content: attr(data-placeholder);
    color: black;
    pointer-events: none;
    position: absolute;
}

.inputSection>label .sendButton>i {
    background-color: var(--secondary-color);
    color: white;
    font-size: var(--p-smaller);
    width: 20px;
    height: 20px;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.inputSection>label .sendButton {
    background-color: transparent;
    outline: none;
    border: none;
}