.menu {
    display: flex;
    align-items: center;
    height: fit-content;
    font-family: var(--font-title);
    position: relative;
}

.menu .accountWrapper {
    display: flex;
    height: fit-content;
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    box-shadow: var(--l-box-shadow);
    padding: calc(var(--pad-y-s) + 3px) var(--pad-x-s);
    border-radius: 5px;
    cursor: pointer;
}

.menu .accountWrapper:hover,
.menu .accountWrapper:active {
    scale: 1;
}

.menu .accountWrapper:active {
    opacity: .7;
}

.menu .accountWrapper > img {
    width: auto;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.menu .accountWrapper > p {
    width: auto;
    text-wrap: nowrap;
    font-size: var(--p-small);
    margin-right: 5px;
    color: white;
}

.menu .accountWrapper > i {
    color: white;
}

.menu .authButton {
    gap: var(--gap-small);
    width: fit-content;
    font-size: var(--p-smaller);
    padding: var(--pad-y-m) var(--pad-x-s);
    text-wrap: nowrap;
    font-family: var(--font-title);
    font-weight: 700;
    border-radius: .5rem;
    background-color: transparent;
}

.menu .singup {
    margin-left: .3rem;
    color: white;
    background-color: var(--secondary-color);
}

.menu .authButton:hover {
    background-color: var(--l-very-light);
}


/* Dropdown */

.dropDown {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    background-color: white;
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, .25);
    position: absolute;
    right: 0;
    top: 100%;
    width: calc(100%);
    border-radius: .5rem;
    overflow: hidden;
}

.dropDown.hide {
    display: none;
}

.dropDown .actionButton {
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--gap-small);
    background-color: white;
    padding: var(--pad-x-s) var(--pad-x-s);
    font-size: var(--p-smaller);
}

.dropDown .actionButton:hover {
    background-color: var(--l-light);
}

.dropDown .actionButton:active {
    opacity: .7;
}

.dropDown .actionButton:hover,
.dropDown .actionButton:active {
    scale: 1;
}