.verifySigningOut {
    display: grid;
    place-items: center;
    background-color: rgba(255, 255, 255, 0.496);
    width: 100%;
    height: 100%;
    z-index: 2;
    font-family: var(--font-title);
    position: absolute;
    top: 0;
}

.hide {
    display: none;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    min-width: 200px;
    margin: 0 1rem;
    height: 350px;
    padding: var(--pad-y-m) var(--pad-x-s);
    background-color: white;
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, .5);
    position: relative;
    border-radius: 10px;
}

.form .cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(224, 224, 224);
    color: var(--l-bold);
    position: absolute;
    width: 30px;
    height: 30px;
    top: calc(var(--pad-y-m) + 5px);
    right: calc(var(--pad-y-m) + 5px);
    border-radius: 10px;
}

.form > h1 {
    font-size: var(--h1-smaller);
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.form > p {
    font-size: var(--p-small);
    color: var(--l-mid);
    text-align: center;
    width: 90%;
    margin-bottom: 2rem;
}

.form .actionButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--pad-y-m) var(--pad-x-s);
    width: 90%;
    border-radius: 10px;
}

.form .actionButton.staySignedIn {
    background-color: var(--secondary-color);
    color: white;
    margin-bottom: 1rem;
}

.form .actionButton:hover,
.form .actionButton:active {
    scale: 1;
}
/* Dark Theme */