.dropDown {
    display: flex;
    flex-direction: column;
    width: 130px;
    height: fit-content;
    position: absolute;
    right: 0;
    top: 100%;
    padding: var(--pad-y-s) var(--pad-y-s);
    background-color: white;
    box-shadow: 0 2px 10px -2.5px rgba(0, 0, 0, 0.244);
    border-radius: .5rem;
}

.dropDown .actionButton {
    padding: var(--pad-y-s) var(--pad-x-s);
    border-radius: .5rem;
    background-color: transparent;
    position: relative;
    z-index: 0;
    text-wrap: nowrap;
}

.dropDown .actionButton:hover {
    background-color: white;
}

.dropDown .actionButton:active {
    background-color: var(--l-light);
}

.hideDropDown {
    display: none;
}