.taskGroup {
    display: flex;
    flex-direction: column;
    width: calc(100% - 2rem);
    flex: 1;
    overflow-y: auto;
    margin: auto;
    margin-bottom: 1rem;
}

@media (max-width: 900px) {
    .taskGroup {
        flex: auto;
        height: 600px;
    }
}