.tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 4rem);
    padding: var(--pad-y-m) 1rem;
    border-radius: 1rem;
    background-color: var(--l-very-light);
    margin: 1rem auto;
}

.tools .title {
    font-family: var(--font-title);
    font-size: var(--h1-smallest);
}

.tools .right {
    display: flex;
    align-items: center;
    width: fit-content;
    position: relative;
}

.tools .right>.actionButton {
    padding: var(--pad-y-m) var(--pad-x-s);
    border-radius: 50%;
    background-color: transparent;
    position: relative;
    z-index: 0;
}

.tools .right>.actionButton.disabled {
    opacity: .3;
}

.tools .right>.actionButton:hover {
    background-color: white;
}

.tools .right>.actionButton:active {
    background-color: var(--l-light);
}

.tools .right>.saveButton {
    gap: var(--gap-small);
    font-weight: bold;
    background-color: var(--secondary-color);
    color: white;
    border-radius: .5rem;
    font-family: var(--font-title);
}

.tools .right>.saveButton:hover {
    opacity: .8;
    background-color: var(--secondary-color);
    color: white;
}

.tools .right>.saveButton:active {
    background-color: var(--secondary-color);
    color: white;
}

.seeMore {
    display: flex;
    flex-direction: column;
    width: 130px;
    height: fit-content;
    position: absolute;
    right: 0;
    top: 100%;
    padding: var(--pad-y-s) var(--pad-y-s);
    background-color: white;
    box-shadow: 0 2px 10px -2.5px rgba(0, 0, 0, 0.244);
    border-radius: .5rem;
}

.hideSeeMore {
    display: none;
}

.seeMore .actionButton {
    padding: var(--pad-y-s) var(--pad-x-s);
    font-family: var(--font-title);
    font-weight: 700;
    background-color: transparent;
    border-radius: .5rem;
}

.seeMore .actionButton:hover {
    scale: 1;
    background-color: var(--l-light);
}