.chatBox {
    display: flex;
    flex-direction: column;
    width: calc(100% - 1rem);
    height: 100%;
        margin: .5rem auto;
        border-radius: 1rem;
        background-color: rgb(235 235 235);
}